In [1]:
import pandas as pd
cancer_incidence_data = pd.read_csv("./CancerIncidenceRate_utf-8_2/Table S1a.1-Table 1.csv", engine='python', skipfooter=19)
print(cancer_incidence_data.head())

  Data type              Cancer group/site    Year    Sex Age group (years)  \
0    Actual  Acute lymphoblastic leukaemia  1982.0  Males             00–04
1    Actual  Acute lymphoblastic leukaemia  1982.0  Males             05–09
2    Actual  Acute lymphoblastic leukaemia  1982.0  Males             10–14
3    Actual  Acute lymphoblastic leukaemia  1982.0  Males             15–19
4    Actual  Acute lymphoblastic leukaemia  1982.0  Males             20–24

  Count Age-specific rate\n(per 100,000)  \
0    42                              7.1
1    25                              4.0
2    14                              2.0
3    14                              2.1
4     5                              0.7

  Age-standardised rate\n2001 Australian Standard Population (per 100,000)  \
0                                                . .
1                                                . .
2                                                . .
3                                                . .
4                                                . .

  Age-standardised rate\n2023 Australian population \n(per 100,000)  \
0                                                . .
1                                                . .
2                                                . .
3                                                . .
4                                                . .

  Age-standardised rate\n (WHO) (per 100,000)  \
0                                         . .
1                                         . .
2                                         . .
3                                         . .
4                                         . .

  Age-standardised rate\n (Segi) (per 100,000) Unnamed: 11 ICD10 codes
0                                          . .                   C91.0
1                                          . .                   C91.0
2                                          . .                   C91.0
3                                          . .                   C91.0
4                                          . .                   C91.0

In [2]:
cancer_incidence_data_cleaned = cancer_incidence_data[['Data type', 'Cancer group/site', 'Year', 'Sex', 'Age group (years)', 'Count', 'Age-specific rate\n(per 100,000)']]

# Printing the cleaned dataset
print(cancer_incidence_data_cleaned.head())

  Data type              Cancer group/site    Year    Sex Age group (years)  \
0    Actual  Acute lymphoblastic leukaemia  1982.0  Males             00–04
1    Actual  Acute lymphoblastic leukaemia  1982.0  Males             05–09
2    Actual  Acute lymphoblastic leukaemia  1982.0  Males             10–14
3    Actual  Acute lymphoblastic leukaemia  1982.0  Males             15–19
4    Actual  Acute lymphoblastic leukaemia  1982.0  Males             20–24

  Count Age-specific rate\n(per 100,000)
0    42                              7.1
1    25                              4.0
2    14                              2.0
3    14                              2.1
4     5                              0.7

In [3]:
for column in cancer_incidence_data_cleaned.columns:
    print("Value counts for column:", column)
    print(cancer_incidence_data_cleaned[column].value_counts())
    print("\n")

Value counts for column: Data type
Actual         204660
Projections     22720
Name: Data type, dtype: int64


Value counts for column: Cancer group/site
Acute lymphoblastic leukaemia                                             2520
Mesothelioma                                                              2520
Overlapping and unspecified sites in major salivary glands (cancer of)    2520
Overlapping and unspecified sites in biliary tract (cancer of)            2520
Other thoracic and respiratory organs (cancer of)                         2520
                                                                          ...
Myeloproliferative neoplasms (excluding CML)                              1260
All blood cancers combined                                                1260
Myeloproliferative neoplasms                                              1260
Myelodysplastic syndromes                                                 1260
Endometrial cancer                                                         560
Name: Cancer group/site, Length: 100, dtype: int64


Value counts for column: Year
2014.0    5720
2010.0    5720
2019.0    5720
2018.0    5720
2017.0    5720
2016.0    5720
2015.0    5720
2013.0    5720
2012.0    5720
2011.0    5720
2006.0    5680
2007.0    5680
2008.0    5680
2009.0    5680
2003.0    5680
2004.0    5680
2020.0    5680
2021.0    5680
2022.0    5680
2005.0    5680
2023.0    5680
2001.0    5440
2002.0    5440
2000.0    5380
1999.0    5380
1998.0    5380
1997.0    5380
1983.0    5020
1989.0    5020
1984.0    5020
1985.0    5020
1986.0    5020
1987.0    5020
1988.0    5020
1993.0    5020
1990.0    5020
1991.0    5020
1992.0    5020
1994.0    5020
1995.0    5020
1996.0    5020
1982.0    5020
Name: Year, dtype: int64


Value counts for column: Sex
Persons    79500
Females    76140
Males      71740
Name: Sex, dtype: int64


Value counts for column: Age group (years)
00–04                11369
05–09                11369
90+                  11369
85–89                11369
80–84                11369
75–79                11369
70–74                11369
65–69                11369
60–64                11369
55–59                11369
50–54                11369
45–49                11369
40–44                11369
35–39                11369
30–34                11369
25–29                11369
20–24                11369
15–19                11369
10–14                11369
All ages combined    11369
Name: Age group (years), dtype: int64


Value counts for column: Count
0         52917
1         18951
2         11951
3          9063
4          7231
          ...
4,920         1
3,600         1
2,478         1
40,394        1
7,444         1
Name: Count, Length: 4428, dtype: int64


Value counts for column: Age-specific rate
(per 100,000)
0.0        53245
0.1        13444
0.3         8185
0.2         7859
0.4         5450
           ...
320.1          1
3,915.6        1
3,805.4        1
3,520.4        1
199.0          1
Name: Age-specific rate\n(per 100,000), Length: 5364, dtype: int64

In [4]:
for index, value in cancer_incidence_data_cleaned['Cancer group/site'].value_counts().items():
    print(index, value)

Acute lymphoblastic leukaemia 2520
Mesothelioma 2520
Overlapping and unspecified sites in major salivary glands (cancer of) 2520
Overlapping and unspecified sites in biliary tract (cancer of) 2520
Other thoracic and respiratory organs (cancer of) 2520
Other endocrine glands (cancer of) 2520
Other central nervous system cancers 2520
Other and ill-defined sites in the lip, oral cavity and pharynx (cancer of) 2520
Other and ill-defined sites (cancer of) 2520
Other and ill-defined digestive organs (cancer of) 2520
Oropharyngeal cancer 2520
Oral cancer 2520
Oesophageal cancer 2520
Non-Hodgkin lymphoma 2520
Acute myeloid leukaemia 2520
Nasopharyngeal cancer 2520
Nasal cavity cancer 2520
Multiple myeloma 2520
Mouth cancer 2520
Overlapping and unspecified sites in urinary tract (cancer of) 2520
Pancreatic cancer 2520
Parotid gland cancer 2520
Stomach cancer 2520
Urethral cancer 2520
Ureteral cancer 2520
Unknown primary site (cancer of) 2520
Tongue cancer 2520
Thyroid cancer 2520
Submandibular gland cancer 2520
Sublingual gland cancer 2520
Soft tissue sarcoma 2520
Peripheral nerves and autonomic nervous system (cancer of the) 2520
Small intestine cancer 2520
Sinuses cancer 2520
Retroperitoneal and peritoneal cancer 2520
Renal pelvis cancer 2520
Rectosigmoid junction cancer 2520
Rectal cancer (including rectosigmoid junction) 2520
Rectal cancer (excluding rectosigmoid junction) 2520
Middle ear cancer 2520
Neuroendocrine neoplasms 2520
Melanoma of the skin 2520
Ampullary cancer 2520
Appendiceal cancer 2520
Head and neck cancer (excluding lip) 2520
Bladder cancer 2520
Bone cancer 2520
Brain and other central nervous system (cancer of the) 2520
Brain cancer 2520
Gallbladder cancer 2520
Breast cancer 2520
Major salivary glands (cancer of the) 2520
Gallbladder and extrahepatic bile duct cancer 2520
Eye cancer 2520
Extrahepatic bile duct cancer 2520
Connective, subcutaneous and other soft tissues (cancer of) 2520
Chronic lymphocytic leukaemia 2520
Colorectal cancer 2520
Colon cancer 2520
Anal cancer 2520
Head and neck cancer (including lip) 2520
Laryngeal cancer 2520
Lymphoma 2520
Lung cancer 2520
All cancers combined 2520
Liver cancer 2520
Lip cancer 2520
Leukaemia 2520
All sarcomas combined 2520
Kidney cancer 2520
Kaposi sarcoma 2520
Immunoproliferative cancers 2520
Hypopharyngeal cancer 2520
Hodgkin lymphoma 2520
Chronic myeloid leukaemia (CML) 2520
Testicular cancer 1680
Uterine cancer 1680
Cervical cancer 1680
Vaginal cancer 1680
Ovarian cancer and serous carcinomas of the fallopian tube 1680
Prostate cancer 1680
Other male genital organs (cancer of) 1680
Gynaecological cancers 1680
Other female genital organs excluding serous carcinomas of the fallopian tube (cancer of) 1680
Vulvar cancer 1680
Penile cancer 1680
Placenta cancer 1680
Other plasma cell cancers 1620
Chronic myelomonocytic leukaemia (including juvenile) 1620
Other and unspecified myeloid leukaemia 1620
Other and unspecified lymphoid leukaemia 1620
Other and unspecified leukaemia 1620
Other blood cancers 1620
Ovarian cancer 1520
Non-melanoma skin cancer (rare types) 1380
Myeloproliferative neoplasms (excluding CML) 1260
All blood cancers combined 1260
Myeloproliferative neoplasms 1260
Myelodysplastic syndromes 1260
Endometrial cancer 560

In [5]:
skin_cancer = cancer_incidence_data_cleaned[(cancer_incidence_data['Cancer group/site'] == 'Melanoma of the skin') | (cancer_incidence_data['Cancer group/site'] == 'Non-melanoma skin cancer (rare types)')]
skin_cancer_data=skin_cancer[skin_cancer['Age group (years)']=='All ages combined']
print(skin_cancer_data)

          Data type                      Cancer group/site    Year      Sex  \
95019        Actual                   Melanoma of the skin  1982.0    Males
95039        Actual                   Melanoma of the skin  1983.0    Males
95059        Actual                   Melanoma of the skin  1984.0    Males
95079        Actual                   Melanoma of the skin  1985.0    Males
95099        Actual                   Melanoma of the skin  1986.0    Males
...             ...                                    ...     ...      ...
122759       Actual  Non-melanoma skin cancer (rare types)  2019.0  Persons
122779  Projections  Non-melanoma skin cancer (rare types)  2020.0  Persons
122799  Projections  Non-melanoma skin cancer (rare types)  2021.0  Persons
122819  Projections  Non-melanoma skin cancer (rare types)  2022.0  Persons
122839  Projections  Non-melanoma skin cancer (rare types)  2023.0  Persons

        Age group (years)  Count Age-specific rate\n(per 100,000)
95019   All ages combined  1,736                             22.9
95039   All ages combined  1,820                             23.7
95059   All ages combined  1,994                             25.6
95079   All ages combined  2,224                             28.2
95099   All ages combined  2,404                             30.0
...                   ...    ...                              ...
122759  All ages combined  1,269                              5.0
122779  All ages combined  1,271                              5.0
122799  All ages combined  1,346                              5.2
122819  All ages combined  1,437                              5.5
122839  All ages combined  1,529                              5.8

[195 rows x 7 columns]

In [6]:
import pandas as pd
cancer_byterritory_data = pd.read_csv("./CancerByTerritory_utf8/Table S7.1-Table 1.csv", engine='python', skiprows=5,skipfooter=19)
print(cancer_byterritory_data.head())

   Data type              Cancer group/site  Year    Sex State or Territory  \
0  Incidence  Acute lymphoblastic leukaemia  1982  Males    New South Wales
1  Incidence  Acute lymphoblastic leukaemia  1982  Males           Victoria
2  Incidence  Acute lymphoblastic leukaemia  1982  Males         Queensland
3  Incidence  Acute lymphoblastic leukaemia  1982  Males  Western Australia
4  Incidence  Acute lymphoblastic leukaemia  1982  Males    South Australia

  Count  \
0    54
1    31
2    20
3     4
4    17

  Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)  \
0                                                1.9
1                                                1.4
2                                                1.4
3                                               n.p.
4                                                2.4

  Age-standardised rate\n2023 Australian population \n(per 100,000)  \
0                                                1.8
1                                                1.4
2                                                1.3
3                                               n.p.
4                                                2.5

  Unnamed: 8 ICD-10 codes  Unnamed: 10  Unnamed: 11
0                   C91.0          NaN          NaN
1                   C91.0          NaN          NaN
2                   C91.0          NaN          NaN
3                   C91.0          NaN          NaN
4                   C91.0          NaN          NaN

In [7]:
cancer_byterritory_data_cleaned = cancer_byterritory_data[['Data type', 'Cancer group/site', 'Year', 'Sex', 'State or Territory','Count','Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)', 'Age-standardised rate\n2023 Australian population \n(per 100,000)']]

# Printing the cleaned dataset
print(cancer_byterritory_data_cleaned.head())

   Data type              Cancer group/site  Year    Sex State or Territory  \
0  Incidence  Acute lymphoblastic leukaemia  1982  Males    New South Wales
1  Incidence  Acute lymphoblastic leukaemia  1982  Males           Victoria
2  Incidence  Acute lymphoblastic leukaemia  1982  Males         Queensland
3  Incidence  Acute lymphoblastic leukaemia  1982  Males  Western Australia
4  Incidence  Acute lymphoblastic leukaemia  1982  Males    South Australia

  Count  \
0    54
1    31
2    20
3     4
4    17

  Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)  \
0                                                1.9
1                                                1.4
2                                                1.4
3                                               n.p.
4                                                2.4

  Age-standardised rate\n2023 Australian population \n(per 100,000)
0                                                1.8
1                                                1.4
2                                                1.3
3                                               n.p.
4                                                2.5

In [8]:
for column in cancer_byterritory_data_cleaned.columns:
    print("Value counts for column:", column)
    print(cancer_byterritory_data_cleaned[column].value_counts())
    print("\n")

Value counts for column: Data type
Incidence    69442
Name: Data type, dtype: int64


Value counts for column: Cancer group/site
Acute lymphoblastic leukaemia            1026
Leukaemia                                1026
Liver cancer                             1026
Lung cancer                              1026
Lymphoma                                 1026
                                         ...
Non-melanoma skin cancer (rare types)     513
Myeloproliferative neoplasms              459
All blood cancers combined                459
Myelodysplastic syndromes                 459
Endometrial cancer                        180
Name: Cancer group/site, Length: 74, dtype: int64


Value counts for column: Year
2011    1899
2010    1899
2018    1899
2017    1899
2016    1899
2015    1899
2014    1899
2013    1899
2012    1899
2019    1897
2009    1881
2008    1881
2007    1881
2006    1881
2005    1881
2004    1881
2003    1881
2002    1800
2001    1800
1983    1773
1991    1773
1984    1773
1985    1773
1986    1773
1987    1773
1988    1773
1989    1773
1990    1773
1992    1773
2000    1773
1993    1773
1994    1773
1995    1773
1996    1773
1997    1773
1998    1773
1999    1773
1982    1773
Name: Year, dtype: int64


Value counts for column: Sex
Persons    24316
Females    23292
Males      21834
Name: Sex, dtype: int64


Value counts for column: State or Territory
New South Wales                 7716
Victoria                        7716
Queensland                      7716
Western Australia               7716
South Australia                 7716
Tasmania                        7716
Australian Capital Territory    7716
Northern Territory              7715
Australia                       7715
Name: State or Territory, dtype: int64


Value counts for column: Count
1        3064
0        2831
2        2195
3        1821
. .      1688
         ...
5,660       1
5,156       1
1,897       1
6,904       1
1,945       1
Name: Count, Length: 4133, dtype: int64


Value counts for column: Age-standardised rate
2001 Australian Standard Population
(per 100,000)
n.p.     8495
0.0      2836
. .      1688
1.1      1139
0.9      1111
         ...
533.6       1
492.4       1
498.1       1
406.9       1
154.6       1
Name: Age-standardised rate\n2001 Australian Standard Population \n(per 100,000), Length: 2128, dtype: int64


Value counts for column: Age-standardised rate
2023 Australian population
(per 100,000)
n.p.     8495
0.0      2832
. .      1688
1.4       927
1.3       926
         ...
463.8       1
482.0       1
516.3       1
456.9       1
701.4       1
Name: Age-standardised rate\n2023 Australian population \n(per 100,000), Length: 2438, dtype: int64

In [9]:
for index, value in cancer_byterritory_data_cleaned['Cancer group/site'].value_counts().items():
    print(index, value)

Acute lymphoblastic leukaemia 1026
Leukaemia 1026
Liver cancer 1026
Lung cancer 1026
Lymphoma 1026
Acute myeloid leukaemia 1026
Melanoma of the skin 1026
Mesothelioma 1026
Mouth cancer 1026
Multiple myeloma 1026
Nasopharyngeal cancer 1026
Neuroendocrine neoplasms 1026
Non-Hodgkin lymphoma 1026
Oesophageal cancer 1026
Oral cancer 1026
Oropharyngeal cancer 1026
Other and ill-defined digestive organs (cancer of) 1026
Other and ill-defined sites (cancer of) 1026
Pancreatic cancer 1026
Parotid gland cancer 1026
Rectal cancer (excluding rectosigmoid junction) 1026
Rectal cancer (including rectosigmoid junction) 1026
Rectosigmoid junction cancer 1026
Renal pelvis cancer 1026
Retroperitoneal and peritoneal cancer 1026
Small intestine cancer 1026
Soft tissue sarcoma 1026
Stomach cancer 1026
Thyroid cancer 1026
Tongue cancer 1026
Unknown primary site (cancer of) 1026
Lip cancer 1026
Major salivary glands (cancer of the) 1026
Laryngeal cancer 1026
Brain and other central nervous system (cancer of the) 1026
Breast cancer 1026
Bone cancer 1026
Bladder cancer 1026
Anal cancer 1026
Chronic lymphocytic leukaemia 1026
Chronic myeloid leukaemia (CML) 1026
Ampullary cancer 1026
Kidney cancer 1026
Colon cancer 1026
Colorectal cancer 1026
Connective, subcutaneous and other soft tissues (cancer of) 1026
Extrahepatic bile duct cancer 1026
All sarcomas combined 1026
Eye cancer 1026
Gallbladder and extrahepatic bile duct cancer 1026
Gallbladder cancer 1026
All cancers combined 1026
Head and neck cancer (excluding lip) 1026
Head and neck cancer (including lip) 1026
Hodgkin lymphoma 1026
Hypopharyngeal cancer 1026
Immunoproliferative cancers 1026
Kaposi sarcoma 1026
Brain cancer 1026
Testicular cancer 684
Uterine cancer 684
Vaginal cancer 684
Other female genital organs excluding serous carcinomas of the fallopian tube (cancer of) 684
Cervical cancer 684
Prostate cancer 684
Penile cancer 684
Ovarian cancer and serous carcinomas of the fallopian tube 684
Gynaecological cancers 684
Vulvar cancer 682
Non-melanoma skin cancer (rare types) 513
Myeloproliferative neoplasms 459
All blood cancers combined 459
Myelodysplastic syndromes 459
Endometrial cancer 180

In [10]:
skin_cancer_byterritory_data = cancer_byterritory_data_cleaned[(cancer_byterritory_data_cleaned['Cancer group/site'] == 'Melanoma of the skin') | (cancer_byterritory_data_cleaned['Cancer group/site'] == 'Non-melanoma skin cancer (rare types)')]
print(skin_cancer_byterritory_data)

       Data type                      Cancer group/site  Year      Sex  \
36891  Incidence                   Melanoma of the skin  1982    Males
36892  Incidence                   Melanoma of the skin  1982    Males
36893  Incidence                   Melanoma of the skin  1982    Males
36894  Incidence                   Melanoma of the skin  1982    Males
36895  Incidence                   Melanoma of the skin  1982    Males
...          ...                                    ...   ...      ...
45499  Incidence  Non-melanoma skin cancer (rare types)  2019  Persons
45500  Incidence  Non-melanoma skin cancer (rare types)  2019  Persons
45501  Incidence  Non-melanoma skin cancer (rare types)  2019  Persons
45502  Incidence  Non-melanoma skin cancer (rare types)  2019  Persons
45503  Incidence  Non-melanoma skin cancer (rare types)  2019  Persons

                 State or Territory  Count  \
36891               New South Wales    650
36892                      Victoria    279
36893                    Queensland    472
36894             Western Australia    164
36895               South Australia    121
...                             ...    ...
45499               South Australia     45
45500                      Tasmania     22
45501  Australian Capital Territory      8
45502            Northern Territory      3
45503                     Australia  1,269

      Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)  \
36891                                               28.9
36892                                               16.8
36893                                               49.3
36894                                               31.1
36895                                               21.4
...                                                  ...
45499                                                1.7
45500                                                2.6
45501                                                1.9
45502                                               n.p.
45503                                                4.1

      Age-standardised rate\n2023 Australian population \n(per 100,000)
36891                                               33.1
36892                                               19.2
36893                                               56.9
36894                                               35.6
36895                                               23.1
...                                                  ...
45499                                                2.3
45500                                                3.7
45501                                                2.6
45502                                               n.p.
45503                                                5.4

[1539 rows x 8 columns]

In [11]:
count_datatype = skin_cancer_data['Count'].dtype
print(count_datatype)

object

In [12]:
skin_cancer_data['Count'] = skin_cancer_data['Count'].astype(str).str.replace(',', '').astype(int)

/var/folders/lz/y6thqlv93m59k48g5fnn8q940000gn/T/ipykernel_43173/3222443640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skin_cancer_data['Count'] = skin_cancer_data['Count'].astype(str).str.replace(',', '').astype(int)

In [13]:
skin_cancer_data_sum = skin_cancer_data.groupby('Year')['Count'].sum().reset_index(name ='Total Incidence')
print(skin_cancer_data_sum)

      Year  Total Incidence
0   1982.0             7076
1   1983.0             7598
2   1984.0             8088
3   1985.0             9024
4   1986.0             9418
5   1987.0            11124
6   1988.0            12038
7   1989.0            11452
8   1990.0            11676
9   1991.0            11934
10  1992.0            13132
11  1993.0            13540
12  1994.0            13900
13  1995.0            14948
14  1996.0            15678
15  1997.0            16894
16  1998.0            16000
17  1999.0            16794
18  2000.0            17432
19  2001.0            18998
20  2002.0            20780
21  2003.0            20270
22  2004.0            20880
23  2005.0            22800
24  2006.0            22086
25  2007.0            22196
26  2008.0            23556
27  2009.0            24012
28  2010.0            24424
29  2011.0            24666
30  2012.0            26004
31  2013.0            27446
32  2014.0            28116
33  2015.0            29312
34  2016.0            31032
35  2017.0            32170
36  2018.0            32279
37  2019.0            33794
38  2020.0            35558
39  2021.0            36798
40  2022.0            38154
41  2023.0            39572

In [14]:
#xprint(skin_cancer_byterritory_data.columns)
print(type(skin_cancer_byterritory_data))
print(skin_cancer_byterritory_data.columns)

<class 'pandas.core.frame.DataFrame'>
Index(['Data type', 'Cancer group/site', 'Year', 'Sex', 'State or Territory',
       'Count',
       'Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)',
       'Age-standardised rate\n2023 Australian population \n(per 100,000)'],
      dtype='object')

In [15]:
#skin_cancer_byterritory_data= skin_cancer_byterritory_data['Count'].astype(str).str.replace(',', '').astype(int)
import numpy as np
skin_cancer_byterritory_data['Count'] = skin_cancer_byterritory_data['Count'].replace('. .', np.nan)
skin_cancer_byterritory_data['Count'] = skin_cancer_byterritory_data['Count'].replace(np.nan,'0' )
skin_cancer_byterritory_data['Count']= skin_cancer_byterritory_data['Count'].astype(str).str.replace(',', '').astype(int)
print(skin_cancer_byterritory_data.columns)
skin_cancer_byterritory_data_sum = skin_cancer_byterritory_data.groupby(['State or Territory','Year'])['Count'].sum()
print(skin_cancer_byterritory_data_sum)

Index(['Data type', 'Cancer group/site', 'Year', 'Sex', 'State or Territory',
       'Count',
       'Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)',
       'Age-standardised rate\n2023 Australian population \n(per 100,000)'],
      dtype='object')
State or Territory  Year
Australia           1982    7076
                    1983    7598
                    1984    8088
                    1985    9024
                    1986    9418
                            ...
Western Australia   2015    3390
                    2016    3342
                    2017    3168
                    2018    3178
                    2019    3516
Name: Count, Length: 342, dtype: int64

/var/folders/lz/y6thqlv93m59k48g5fnn8q940000gn/T/ipykernel_43173/4234152620.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skin_cancer_byterritory_data['Count'] = skin_cancer_byterritory_data['Count'].replace('. .', np.nan)
/var/folders/lz/y6thqlv93m59k48g5fnn8q940000gn/T/ipykernel_43173/4234152620.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skin_cancer_byterritory_data['Count'] = skin_cancer_byterritory_data['Count'].replace(np.nan,'0' )
/var/folders/lz/y6thqlv93m59k48g5fnn8q940000gn/T/ipykernel_43173/4234152620.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skin_cancer_byterritory_data['Count']= skin_cancer_byterritory_data['Count'].astype(str).str.replace(',', '').astype(int)

In [16]:
import pandas as pd
cancer_mortality_data = pd.read_csv("./cancerMortalityRates_utf8/Table S2a.1-Table 1.csv", engine='python', skiprows=5,skipfooter=19)
print(cancer_mortality_data.head())

  Data type              Cancer group/site  Year    Sex Age group (years)  \
0    Actual  Acute lymphoblastic leukaemia  1971  Males             00–04
1    Actual  Acute lymphoblastic leukaemia  1971  Males             05–09
2    Actual  Acute lymphoblastic leukaemia  1971  Males             10–14
3    Actual  Acute lymphoblastic leukaemia  1971  Males             15–19
4    Actual  Acute lymphoblastic leukaemia  1971  Males             20–24

  Count Age-specific rate\n(per 100,000)  \
0    21                              3.3
1    24                              3.8
2    11                              1.7
3     2                              0.3
4     3                              0.5

  Age-standardised rate\n2001 Australian Standard Population (per 100,000)  \
0                                                . .
1                                                . .
2                                                . .
3                                                . .
4                                                . .

  Age-standardised rate\n2023 Australian population \n(per 100,000)  \
0                                                . .
1                                                . .
2                                                . .
3                                                . .
4                                                . .

  Age-standardised rate\n (WHO) (per 100,000)  \
0                                         . .
1                                         . .
2                                         . .
3                                         . .
4                                         . .

  Age-standardised rate\n (Segi) (per 100,000) Unnamed: 11 ICD10 codes
0                                          . .                   C91.0
1                                          . .                   C91.0
2                                          . .                   C91.0
3                                          . .                   C91.0
4                                          . .                   C91.0

In [17]:
# Create a boolean mask to check where the 'Count' column has the value '.'
dot_mask = (cancer_mortality_data['Count'] == '.')

# Filter the DataFrame based on the boolean mask
entries_with_dot = cancer_mortality_data[dot_mask]

number_of_entries_with_dot = dot_mask.sum()

print("Number of entries where 'Count' column has the value '.':", number_of_entries_with_dot)

Number of entries where 'Count' column has the value '.': 0

In [18]:
cancer_mortality_data_cleaned = cancer_mortality_data[['Data type', 'Cancer group/site', 'Year', 'Sex','Age group (years)','Count','Age-specific rate\n(per 100,000)']]
# Printing the cleaned dataset
print(cancer_mortality_data_cleaned.head())

  Data type              Cancer group/site  Year    Sex Age group (years)  \
0    Actual  Acute lymphoblastic leukaemia  1971  Males             00–04
1    Actual  Acute lymphoblastic leukaemia  1971  Males             05–09
2    Actual  Acute lymphoblastic leukaemia  1971  Males             10–14
3    Actual  Acute lymphoblastic leukaemia  1971  Males             15–19
4    Actual  Acute lymphoblastic leukaemia  1971  Males             20–24

  Count Age-specific rate\n(per 100,000)
0    21                              3.3
1    24                              3.8
2    11                              1.7
3     2                              0.3
4     3                              0.5

In [19]:
cancer_mortality_data_cleaned_1 = cancer_mortality_data_cleaned[(cancer_mortality_data_cleaned['Cancer group/site'] == 'Melanoma of the skin') | (cancer_mortality_data_cleaned['Cancer group/site'] == 'Non-melanoma skin cancer (rare types)')]
print(cancer_mortality_data_cleaned )
cancer_mortality_data_cleaned=cancer_mortality_data_cleaned_1[cancer_mortality_data_cleaned_1['Age group (years)']=='All ages combined']

          Data type              Cancer group/site  Year      Sex  \
0            Actual  Acute lymphoblastic leukaemia  1971    Males
1            Actual  Acute lymphoblastic leukaemia  1971    Males
2            Actual  Acute lymphoblastic leukaemia  1971    Males
3            Actual  Acute lymphoblastic leukaemia  1971    Males
4            Actual  Acute lymphoblastic leukaemia  1971    Males
...             ...                            ...   ...      ...
261174  Projections                  Vulvar cancer  2023  Persons
261175  Projections                  Vulvar cancer  2023  Persons
261176  Projections                  Vulvar cancer  2023  Persons
261177  Projections                  Vulvar cancer  2023  Persons
261178  Projections                  Vulvar cancer  2023  Persons

       Age group (years) Count Age-specific rate\n(per 100,000)
0                  00–04    21                              3.3
1                  05–09    24                              3.8
2                  10–14    11                              1.7
3                  15–19     2                              0.3
4                  20–24     3                              0.5
...                  ...   ...                              ...
261174             70–74    12                              1.0
261175             75–79    15                              1.6
261176             80–84    17                              2.9
261177             85–89    16                              4.6
261178               90+    23                             10.6

[261179 rows x 7 columns]

In [20]:
#filter all ages combined
#filter all the actual data

In [21]:
cancer_mortality_data_cleaned ['Count'] = cancer_mortality_data_cleaned ['Count'].astype(str).str.replace(',', '').astype(int)

/var/folders/lz/y6thqlv93m59k48g5fnn8q940000gn/T/ipykernel_43173/3216290050.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancer_mortality_data_cleaned ['Count'] = cancer_mortality_data_cleaned ['Count'].astype(str).str.replace(',', '').astype(int)

In [22]:
skin_cancer_mortality_data_sum = cancer_mortality_data_cleaned.groupby('Year')['Count'].sum().reset_index(name ='Total mortality')
print(skin_cancer_mortality_data_sum)

    Year  Total mortality
0   1971              702
1   1972              738
2   1973              752
3   1974              802
4   1975              848
5   1976              874
6   1977             1018
7   1978             1010
8   1979             1060
9   1980             1086
10  1981             1142
11  1982             1192
12  1983             1246
13  1984             1280
14  1985             1344
15  1986             1376
16  1987             1596
17  1988             1544
18  1989             1564
19  1990             1658
20  1991             1608
21  1992             1734
22  1993             1706
23  1994             1794
24  1995             1870
25  1996             1810
26  1997             1804
27  1998             1932
28  1999             2010
29  2000             1942
30  2001             2148
31  2002             2108
32  2003             2292
33  2004             2400
34  2005             2546
35  2006             2500
36  2007             2630
37  2008             2794
38  2009             2826
39  2010             2864
40  2011             3090
41  2012             3080
42  2013             3250
43  2014             2936
44  2015             2996
45  2016             2564
46  2017             2842
47  2018             2820
48  2019             2818
49  2020             2832
50  2021             2910
51  2022             2686
52  2023             2628

In [23]:
world_population=pd.read_csv("./world bank aus population data.csv")

In [24]:
world_population.head()

   Year  Total Population
0  1982          15184247
1  1983          15393472
2  1984          15579391
3  1985          15788312
4  1986          16018350

In [25]:
mortality_data_with_pop = pd.merge(skin_cancer_mortality_data_sum, world_population, on='Year')

In [26]:
incidence_data_with_pop = pd.merge(skin_cancer_data_sum , world_population, on='Year')

In [27]:
mortality_data_with_pop['mortality_rate_per_100000']=mortality_data_with_pop['Total mortality']/mortality_data_with_pop['Total Population']*100000

In [28]:
incidence_data_with_pop['incidence_rate_per_100000']=incidence_data_with_pop['Total Incidence']/incidence_data_with_pop['Total Population']*100000

In [29]:
incidence_data_with_pop.head()

     Year  Total Incidence  Total Population  incidence_rate_per_100000
0  1982.0             7076          15184247                  46.600928
1  1983.0             7598          15393472                  49.358585
2  1984.0             8088          15579391                  51.914738
3  1985.0             9024          15788312                  57.156205
4  1986.0             9418          16018350                  58.795069

In [30]:
mortality_data_with_pop

    Year  Total mortality  Total Population  mortality_rate_per_100000
0   1982             1192          15184247                   7.850241
1   1983             1246          15393472                   8.094340
2   1984             1280          15579391                   8.215982
3   1985             1344          15788312                   8.512626
4   1986             1376          16018350                   8.590148
5   1987             1596          16263874                   9.813160
6   1988             1544          16532164                   9.339370
7   1989             1564          16814416                   9.301542
8   1990             1658          17065128                   9.715720
9   1991             1608          17284036                   9.303383
10  1992             1734          17478635                   9.920683
11  1993             1706          17634808                   9.674049
12  1994             1794          17805468                  10.075557
13  1995             1870          18004882                  10.386072
14  1996             1810          18224767                   9.931540
15  1997             1804          18423037                   9.792088
16  1998             1932          18607584                  10.382863
17  1999             2010          18812264                  10.684519
18  2000             1942          19028802                  10.205582
19  2001             2148          19274701                  11.144142
20  2002             2108          19495210                  10.812913
21  2003             2292          19720737                  11.622284
22  2004             2400          19932722                  12.040503
23  2005             2546          20176844                  12.618425
24  2006             2500          20450966                  12.224361
25  2007             2630          20827622                  12.627462
26  2008             2794          21249199                  13.148731
27  2009             2826          21691653                  13.028053
28  2010             2864          22031750                  12.999421
29  2011             3090          22340024                  13.831677
30  2012             3080          22733465                  13.548309
31  2013             3250          23128129                  14.052153
32  2014             2936          23475686                  12.506557
33  2015             2996          23815995                  12.579781
34  2016             2564          24190907                  10.599024
35  2017             2842          24592588                  11.556327
36  2018             2820          24963258                  11.296602
37  2019             2818          25334826                  11.123029
38  2020             2832          25649248                  11.041259
39  2021             2910          25685412                  11.329388
40  2022             2686          26005540                  10.328568

In [31]:
database_data=pd.merge(mortality_data_with_pop , incidence_data_with_pop, on=['Year','Total Population'])

In [32]:
print(database_data.head())

   Year  Total mortality  Total Population  mortality_rate_per_100000  \
0  1982             1192          15184247                   7.850241
1  1983             1246          15393472                   8.094340
2  1984             1280          15579391                   8.215982
3  1985             1344          15788312                   8.512626
4  1986             1376          16018350                   8.590148

   Total Incidence  incidence_rate_per_100000
0             7076                  46.600928
1             7598                  49.358585
2             8088                  51.914738
3             9024                  57.156205
4             9418                  58.795069

In [33]:
import mysql.connector

mydb =mysql.connector.connect(user='remote_user', password='Sunnypediag13!',
                              host='13.237.185.73',
                              port='3306',
                              database='Mysql')
#Database: Mysql
#ip:13.237.185.73
#port:3306
#user: remote_user
#password: Sunnypediag13!
#print(mydb)

In [34]:
#pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/divyasehgal/opt/anaconda3/lib/python3.9/site-packages (8.3.0)

[notice] A new release of pip is available: 23.3 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [37]:
#from sqlalchemy import create_engine
# Step 2: Create a SQLAlchemy engine to connect to the MySQL database
#engine = create_engine("mysql+mysqlconnector://root:Sunnypediag13!@13.237.185.73:3306/Mysql")

# Step 3: Convert the Pandas DataFrame to a format for MySQL table insertion
#database_data.to_sql('mortality_and_incidence', con=engine, if_exists='append', index=False)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1045 (28000): Access denied for user 'root'@'n175-39-134-179.meb4.vic.optusnet.com.au' (using password: YES)
(Background on this error at: https://sqlalche.me/e/14/f405)

In [39]:
username = 'remote_user'
password = 'Sunnypediag13!'
host = '13.237.185.73'
port = '3306'
database_name = 'Mysql'  # Replace 'your_database_name' with your actual database name

# Create the connection string
connection_string = f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}"

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

# Test the connection
with engine.connect() as connection:
    result = connection.execute("SELECT 1")
    print(result.fetchone())

(1,)

In [40]:
# Step 3: Convert the Pandas DataFrame to a format for MySQL table insertion
database_data.to_sql('mortality_and_incidence', con=engine, if_exists='append', index=False)

-1